.App.dark {
  background-color: #222;
  color: #fff;
  background-image: url("../img/dark-background.webp");
  background-repeat: no-repeat;
  background-size: cover;
}

.App-header.dark {
  background-color: #333;
  color: #fff;
}

.Messages-container.dark {
  background-color: #111;
}

form.dark {
  background-color: #111;
}
